{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "environmentName": {
            "value": "<e.g. non-prod>"
        },
        "location": {
            "value": "<Azure Region>"
        },
        "vnetHubSubscriptionId":{ 
            "value": "<subscription id of Hub VNET>"
        },
        
        "vnetHubResourceGroupName": {
            "value": "<resourcegroup of the Hub vnet>"
        },
        "vnetHubName": {
            "value": "<name of the hub vnet>"
        },
        
        "lzNetworkResourceGroupName": {
            "value": "<resourcegroup where ARO will be deployed>"
        },
        "spokeVnetName": {
            "value": "<name of the ARO Spoke vnet>"
        },
        "spokeVnetAddressPrefix":{ 
            "value": "10.123.0.0/16"
        },
        "spokeSubnets": { 
            "value" : [
                {
                    "name": "masterSubnet",
                    "properties" : {
                        "addressPrefix": "10.123.1.0/27",
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Disabled"
                    }
                },
                {
                    "name": "workerSubnet",
                    "properties" : {
                        "addressPrefix": "10.123.2.0/24",
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                    }
                },
                {
                    "name": "privateLinkSubnet",
                    "properties": {
                        "addressPrefix": "10.123.3.0/24",
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                    }
                }
           ]
        },
        "tagValues": {
            "value": {
                "env":"non-prod",
                "project":"aro"
            }
        },
        "dnsServers":{
            "value" : [
                "<ip address of custom DNS>"
            ]
        },
        "firewallIpAddress": {
            "value" : "<ip of your NVA used for a route table on ARO network>"
        }
    }
}